{% extends 'crud_app/base.html' %}
{%load crispy_forms_tags%}

{%block content%}

<div class="container bg-light shadow-md p-5 w-50">
    <h2>Add Record</h2>
    <hr>
    <br>

    <form method="POST" autocomplete="off">
        {%csrf_token%}
        {{form | crispy }}
        <br>
        <button type="submit" class="btn btn-primary w-100 p-2 btn-block">Add</button>

    </form>
    <a href="{%url 'dashboard'%}" class="btn btn-secondary">Back</a>
    <a href="{%url 'update_record'%}" class="btn btn-info">Update</a>
    <a href="{%url '%}" class="btn btn-danger">Delete</a>
</div>


{%endblock%}