{% extends 'crud_app/base.html' %}
{%load crispy_forms_tags%}

{%block content%}

<div class="container bg-light shadow-md p-5 w-50">
    <h2>Add Record</h2>
    <hr>
    <br>

    <form method="POST" autocomplete="off">
        {%csrf_token%}
        {{form | crispy }}
        <br>
        <button type="submit" class="btn btn-primary w-75 p-2 btn-block btn-sm custom-width">Add &nbsp; <i class="fa-solid fa-plus"></i></button>
        <a href="{%url 'dashboard'%}" class="btn btn-secondary">Back &nbsp; <i class="fa-solid fa-arrow-left"></i></a>

    </form>

</div>


{%endblock%}