{% extends 'crud_app/base.html' %}
{%block content%}
<div class="text-center m-2">
    <h2>Welcome aboard!</h2>

    <hr>
    <a class="btn btn-outline-success btn-sm m-2" href="{%url 'add_record'%}">Create New Record &nbsp; <i class="fa-solid fa-plus"></i></a>

    <!-- <p>ID:{{record.id}}</p>
    <br> -->

    <table class="table table-light table-hover ">
      

        <thead class="table-dark">
            <tr>
        
            <th scope="col">ID</th> 

            <th scope="col">Content</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Title</th>
            <th scope="col">Date</th>
            <th scope="col">View</th>
            
            </tr>

        </thead>

        <tbody>

            {% if records %}
            {% for record in records %}
            <tr>
                <td>{{record.id}}</td>
                <td>{{record.title}}</td>
                <td>{{record.first_name}}</td>
                <td>{{record.last_name}}</td>
                <td>{{record.content}}</td>
                <td>{{record.date}}</td>
                <td><a class="btn btn-info btn-sm" href="{% url 'view_record' record.id %}"><i class="fa-solid fa-eye"></i></a></td>
            </tr>    
            {%endfor%}
            {%endif%}

        </tbody>
       
    </table>
   
</div>
{%endblock%}