{% extends 'crud_app/base.html' %}
{%block content%}

<body>
    <div class="text-center">
        <h2>CRUD-App</h2>
        <hr>
       
        {% if user.is_authenticated %}
        <h5>Hello {{ user }}, Click the button to CRUD records.</h5>
        <a class="btn w-25 btn-outline-success" type="button" href="{% url 'dashboard' %}">My Records &nbsp;<i class="fa-solid fa-folder-tree"></i></a>
        {%else%}
        <br>
        <h5>Hello user, Login/Register to CRUD Records</h5>
        <hr>
        <a class="btn btn-primary" type="button" href="{% url 'register' %}">Register &nbsp; <i class="fa-solid fa-user-plus"></i></a>
        <a class="btn btn-success" type="button" href="{% url 'login'%}">Login &nbsp; <i class="fa-solid fa-lock"></i></a>
        {%endif%}
    </div>
</body>
{%endblock%}