{%extends 'crud_app/base.html'%}

{%load crispy_forms_tags%}

{%block content%}

<body>

    <div class="container  bg-light shadow-md p-5 w-50">
        <h2>Create your account</h2>
        <hr>
        <br>

        <form method="POST" autocomplete="off">
            {%csrf_token%}
            {{form | crispy}}
            <br>
            <button type="submit" class="btn btn-primary w-100 p-3 btn-block">Create Account</button>

        </form>
        <br>
        <div class="text-center">
            <span> Have an Account?
            <a href="{%url 'login'%}">Login</a> 
        </div>
    </div>

</body>
{%endblock%}